---
import User from './icons/User.astro';
---
<section id="about" class="w-full mx-auto max-w-[60ch] px-6 content-center container py-20">
    <h2 class="text-3xl font-bold gap-x-3 pb-5 inline-flex items-center">
        <User class="size-10"/>
        Sobre mí
    </h2>
    <article class="flex flex-col items-center justify-center gap-8 text-gray-300 dark:text-gray-300">
        <img width="200" height="200" src="/me.png" alt="Tomás Bozzano" class=" object-cover w-64 h-full p-1 rotate-3 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
        <div class="py-2 px-6 font-mono text-pretty">
            <p> Me llamo Tomás Bozzano. Empecé en programación hace 6 años. Actualmente estoy 
            <strong class="text-cyan-200">desarrollando proyectos propios </strong>que me ayuden a mejorar la lógica y las estructuras.
            </p>
            <p>
            <strong class="text-cyan-200">He colaborado con el instituto donde estudiaba </strong>
            para el desarrollo de una plataforma web donde los profesores podían acceder a la lista de alumnos incriptos en materias, finales y manejar los datos de ellos.
            <strong class="text-cyan-200">He trabajado en una empresa de desarrollo de software</strong> donde he aprendido a trabajar en equipo y a seguir buenas prácticas de programación.
            </p>
        </div>
    </article>
</section>