---
import User from "./icons/User.astro";
let years = new Date().getFullYear();
const init = 2018;
let timeLine = years - init;
---

<section
    id="about"
    class="w-full mx-auto max-w-[60ch] px-6 content-center container py-20"
>
    <h2
        class="text-3xl font-bold gap-x-3 pb-5 inline-flex items-center dark:text-white"
    >
        <User class="size-10" />
        Sobre mí
    </h2>
    <article
        class="flex flex-col items-center justify-center gap-8 text-gray-500 dark:text-gray-400"
    >
        <img
            width="200"
            height="200"
            src="/me.png"
            alt="Tomás Bozzano"
            class="object-cover w-64 h-full p-1 rotate-3 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
            style="object-position: 50% 50%"
        />
        <div class="py-2 px-6 font-mono text-pretty">
            <p> Me encanta hacer deportes, leer y aprender cosas nuevas. </p>
            <p class="py-2">
                Hace
                <strong class="text-cyan-300 dark:text-cyan-200"
                    >{timeLine} años</strong
                > descubrí mi pasión por la programación. Desde entonces, no he dejado
                de aprender y desafiarme con proyectos propios que me permiten fortalecer
                mi lógica y el diseño de estructuras.
            </p>
            <p>
                Me considero una persona comprometida, proactiva y siempre en
                búsqueda de nuevos desafíos que me permitan seguir creciendo
                como profesional y como persona.
            </p>
        </div>
    </article>
</section>
