---
import ExperienceDatos from "./ExperienceDatos.astro";
import Suitcase from "./icons/Suitcase.astro";
---

<article
  id="experiencia"
  class="w-full mx-auto max-w-[60ch] px-6 py-20 content-center"
>
  <div class="flex flex-row pb-5 gap-x-3">
    <Suitcase class="size-10" />
    <h2
      class="text-3xl font-bold inline-flex items-center dark:text-white"
      id="experience"
    >
    </h2>
  </div>
  <ExperienceDatos />
</article>
<script>
  async function render() {

    let experience = document.getElementById("experience");

    const data = (
      await import(`../utils/data.json`, {
        assert: { type: "json" },
      })
    ).default;

    const lang = document.documentElement.lang.toUpperCase();

    experience.textContent = data[lang].titles.experience;
  }

  render();
  window.addEventListener("language-change", render);
</script>
