---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
    {
        date: "2024 - Actualidad",
        company: "Toda Linda Ropa",
        description: "Análisis y creación de ERP para tienda de ropa. Implementación de requerimientos y buenas prácticas. Integración de base de datos con procedimientos almacenados.",
        link: "https://www.instagram.com/todalindavyg/",
    },
    {
        date: "2023 -2024",
        company: "ISFDyT N°20",
        description: "Cumplimiento de soluciones de software alineadas a especificaciones y mejores prácticas. Mejoras tecnológicas en UX y MVC. Integración Back-End con NodeJs para Access 2000. Implementación con equipo docente y directivo.",
        link: "http://www.instituto20.com.ar/",
    },
    {
        date: "2022 - 2023",
        company: "Wynges S.A.S",
        description:
            "Análisis de requerimientos y necesidades de clientes para ofrecer soluciones eficientes. Colaboración con equipos multidisciplinarios en proyectos tecnológicos. Gestión de solicitudes e incidencias técnicas (software), priorizando la resolución rápida. Comunicación clara y efectiva con clientes y colegas.",
        link: "https://wynges.com/",
    },
];
---

<ol class="relative border-s border-gray-700 dark:border-white">
    {
        EXPERIENCIE.map((experiencie) => (
            <li class="ml-7 mb-10 ms-4 text-pretty">
                <div class="absolute w-3 h-3 bg-gray-700 dark:bg-white rounded-full mt-1.5 -start-1.5 border border-white dark:border-white">
                </div>
                <ExperienceItem {...experiencie} />
            </li>
        ))
    }
</ol>
