---
import PresentationNav from "./PresentationNav.astro"
---
<section id="inicio"
    class="section py-10 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
>
    <div class="flex flex-row content-center pb-5">
        <img
            class="rounded-full size-28 mr-5 border-y-cyan-600 border-x-cyan-700 border-8"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX4u42-g73Jdsuhl0ztgwy8dT1XkapvXeLnA&s"
            alt="Mi foto de perfil"
        />
        <h1 class="text-4xl font-bold gap-x-3 pb-5 mt-1 dark:text-white">
            Hola, soy Tomás Bozzano
        </h1>
    </div>
    <p class="max-w-[60ch] text-pretty dark:text-white">
        Esta es mi página personal, o porfolio, que iré actualizando. Soy
        Analista - Desarrollador de sistemas. Me he desarrollado de manera
        academica y actualmente me encuentro estudiando una
        <span class="text-cyan-500">Licenciatura en Tecnologías Digitales</span
        >. Soy un desarrolador Trainee, con ganas de emprender en nuevos
        desafios.
    </p>
    <PresentationNav />    
</section>
