---
import Mail from './icons/Mail.astro'
import LinkedIn from './icons/Linkedin.astro'
import Github from './icons/Github.astro'
import Download from './icons/Download.astro'

---
    <nav class="flex flex-wrap gap-x-3 gap-y-1 py-10">
        <a
            href="mailto:tomasgbozzano@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            role="link"
            class="inline-flex items-center justify-center gap-2 px-4 py-1 text-white transition dark:bg-gray-100 border dark:border-gray-300 rounded-full bg-gray-800 border-gray-600 dark:text-gray-700 dark:hover:text-black text-md dark:hover:bg-cyan-500 hover:bg-cyan-500  group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
        >
       <Mail class="size-6"/>
            Mail
        </a>
        <a
            href="https://www.linkedin.com/in/tomasbozzano"
            target="_blank"
            rel="noopener noreferrer"
            role="link"
            class="inline-flex items-center justify-center gap-2 px-4 py-1 rounded-full transition text-white dark:bg-gray-100 border dark:border-gray-300  bg-gray-800 border-gray-600 dark:text-gray-700 dark:hover:text-black text-md dark:hover:bg-cyan-500 hover:bg-cyan-500  group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
        >
            <LinkedIn class="size-6"/>
            LinkedIn
        </a>
        <a
            href="https://github.com/TomasBozzano"
            target="_blank"
            rel="noopener noreferrer"
            role="link"
            class="inline-flex items-center justify-center gap-2 px-4 py-1 text-white transition dark:bg-gray-100 border dark:border-gray-300 rounded-full bg-gray-800 border-gray-600 dark:text-gray-700 dark:hover:text-black text-md dark:hover:bg-cyan-500 hover:bg-cyan-500  group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
        >
        <Github class="size-6"/>
            Git hub
        </a>
        <a
            href="/Bozzano Tomas-CV.pdf"
            target="_blank"
            rel="noopener noreferrer"
            role="link"
            class="inline-flex items-center justify-center gap-2 px-4 py-1 text-white transition dark:bg-gray-100 border dark:border-gray-300 rounded-full bg-gray-800 border-gray-600 dark:text-gray-700 dark:hover:text-black text-md dark:hover:bg-cyan-500 hover:bg-cyan-500  group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
        >
            <Download class="size-6"/>
            CV
        </a>

    </nav>